<% if object.errors.any? %>
    <div class="error">
         <h6>Error :
            <% object.errors.full_messages.each do |error| %>
                <%= error %> /
            <% end %>
        </h6>
    </div>
<% end %>