@import "bootstrap";

body {
    background-color: rgb(229, 237, 238);
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    text-align: center;
}

h6{
    text-align: left;
    margin-left: 80px;
    color: gray;
}

h5{
    text-align: left;
    margin-left: 50px;
}

div {
    list-style: none;
    text-align: center;
}

footer {
    a {
        color: gray;
        &:hover{
            color: black;
            text-decoration: none;
        }
    }

    ul{
        float: right;
        list-style: none;
        li{
            float: left;
            margin-left: 10px;
        }
    }
}

#logo{
    float: left;
    font-size: 1.7em;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;

    &:hover{
        color: gray;
        text-decoration: none;
    }
}

input{
    width: 30%;
}

.error{
    color:rgb(236, 65, 65); 
    padding-bottom: 20px;
}

